In [30]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_csv('Play by Play data.2021.csv')

In [42]:
to_drop = ['GameId',
           'GameDate',
           'Quarter',
           'Minute',
           'Second',
           'DefenseTeam',
           'YardLine',
           'NextScore',
           'Description',
           'TeamWin',
           'SeasonYear',
           'Yards',
           'Formation',
           'IsRush',
           'IsPass',
           'IsIncomplete',
           'IsTouchdown',
           'PassType',
           'IsSack',
           'IsChallenge',
           'IsChallengeReversed',
           'Challenger',
           'IsMeasurement',
           'IsInterception',
           'YardLineDirection',
           'IsFumble',
           'IsPenalty',
           'IsTwoPointConversion',
           'IsTwoPointConversionSuccessful',
           'RushDirection',
           'YardLineFixed',
           'IsPenaltyAccepted',
           'PenaltyTeam',
           'IsNoPlay',
           'PenaltyType',
           'Unnamed: 10',
           'Unnamed: 12',
           'Unnamed: 16',
           'Unnamed: 17',
           'PenaltyYards']

data.drop(to_drop, inplace=True, axis=1)
  
#Cleaning data to get only the variables that I need.

In [43]:
display(data)

      OffenseTeam  Down  ToGo  SeriesFirstDown PlayType
0             MIN     1    10                1     PASS
1             MIN     1    10                0     PASS
2             MIN     2     2                1     PASS
3             MIN     1     8                0     RUSH
4             WAS     2     2                1     RUSH
...           ...   ...   ...              ...      ...
42790         BUF     2    10                0     RUSH
42791         BUF     2    10                0     PASS
42792         BUF     1    10                0     RUSH
42793         BUF     2     3                0     PASS
42794         ATL     3     3                0     PASS

[42795 rows x 5 columns]