Milestone 2: Brandon Mather DSC540-T302

In [ ]:
import pandas as pd

In [52]:
#Downloading CSV
data = pd.read_csv('Play by Play data.2022.csv')

In [53]:
#1 Getting rid of columns that aren't needed for goal of project
to_drop = ['GameDate',
           'Quarter',
           'Minute',
           'Second',
           'YardLine',
           'NextScore',
           'Description',
           'SeasonYear',
           'Yards',
           'Formation',
           'IsRush',
           'IsPass',
           'IsIncomplete',
           'IsTouchdown',
           'PassType',
           'IsSack',
           'IsChallenge',
           'IsChallengeReversed',
           'Challenger',
           'IsMeasurement',
           'IsInterception',
           'YardLineDirection',
           'IsFumble',
           'IsPenalty',
           'RushDirection',
           'YardLineFixed',
           'IsPenaltyAccepted',
           'IsNoPlay',
           'Unnamed: 10',
           'Unnamed: 12',
           'Unnamed: 16',
           'Unnamed: 17',]

data.drop(to_drop, inplace=True, axis=1)

In [54]:
#2 Getting rid of Playtypes that would have no significance on statistics
data.drop(data[data['PlayType'] == 'NO PLAY'].index, inplace = True)
data.drop(data[data['PlayType'] == 'QB KNEEL'].index, inplace = True)
data.drop(data[data['PlayType'] == 'EXCEPTION'].index, inplace = True)
data.drop(data[data['PlayType'] == 'CLOCK STOP'].index, inplace = True)

In [55]:
display(data)

,GameId,OffenseTeam,DefenseTeam,Down,ToGo,SeriesFirstDown,TeamWin,PlayType,IsTwoPointConversion,IsTwoPointConversionSuccessful,PenaltyTeam,PenaltyType,PenaltyYards
0,2022090800,NaN,NaN,0,0,1,0,NaN,0,0,NaN,NaN,0
1,2022090800,NaN,NaN,0,0,1,0,TIMEOUT,0,0,NaN,NaN,0
2,2022091102,SF,CHI,2,6,1,0,RUSH,0,0,NaN,NaN,0
3,2022091102,NaN,NaN,0,0,1,0,NaN,0,0,NaN,NaN,0
4,2022091102,CHI,SF,1,10,0,0,RUSH,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38593,2022091101,CLE,CAR,1,10,0,0,RUSH,0,0,CLE,OFFENSIVE HOLDING,10
38594,2022091101,CAR,CLE,4,14,0,0,PUNT,0,0,NaN,NaN,0
38595,2022091101,CAR,CLE,1,10,0,0,RUSH,0,0,NaN,NaN,0
38596,2022090800,BUF,LA,2,10,0,0,RUSH,0,0,NaN,NaN,0
38597,2022090800,BUF,LA,1,10,0,0,PASS,0,0,NaN,NaN,0

In [56]:
#3 getting rid of of NaN rows that aren't needed
data2=data.dropna(subset=['OffenseTeam', 'DefenseTeam', 'PlayType'])

In [57]:
display(data2)

,GameId,OffenseTeam,DefenseTeam,Down,ToGo,SeriesFirstDown,TeamWin,PlayType,IsTwoPointConversion,IsTwoPointConversionSuccessful,PenaltyTeam,PenaltyType,PenaltyYards
2,2022091102,SF,CHI,2,6,1,0,RUSH,0,0,NaN,NaN,0
4,2022091102,CHI,SF,1,10,0,0,RUSH,0,0,NaN,NaN,0
6,2022091102,CHI,SF,2,7,0,0,RUSH,0,0,NaN,NaN,0
10,2022091101,CAR,CLE,3,11,0,0,RUSH,0,0,NaN,NaN,0
12,2022091101,CAR,CLE,4,12,0,0,FIELD GOAL,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38593,2022091101,CLE,CAR,1,10,0,0,RUSH,0,0,CLE,OFFENSIVE HOLDING,10
38594,2022091101,CAR,CLE,4,14,0,0,PUNT,0,0,NaN,NaN,0
38595,2022091101,CAR,CLE,1,10,0,0,RUSH,0,0,NaN,NaN,0
38596,2022090800,BUF,LA,2,10,0,0,RUSH,0,0,NaN,NaN,0
38597,2022090800,BUF,LA,1,10,0,0,PASS,0,0,NaN,NaN,0

In [58]:
#4 Renaming columns with possible confusing names
data2.rename(columns={'ToGo': 'YardsTillFirstDown', 'TeamWin': 'Win'})

,GameId,OffenseTeam,DefenseTeam,Down,YardsTillFirstDown,SeriesFirstDown,Win,PlayType,IsTwoPointConversion,IsTwoPointConversionSuccessful,PenaltyTeam,PenaltyType,PenaltyYards
2,2022091102,SF,CHI,2,6,1,0,RUSH,0,0,NaN,NaN,0
4,2022091102,CHI,SF,1,10,0,0,RUSH,0,0,NaN,NaN,0
6,2022091102,CHI,SF,2,7,0,0,RUSH,0,0,NaN,NaN,0
10,2022091101,CAR,CLE,3,11,0,0,RUSH,0,0,NaN,NaN,0
12,2022091101,CAR,CLE,4,12,0,0,FIELD GOAL,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38593,2022091101,CLE,CAR,1,10,0,0,RUSH,0,0,CLE,OFFENSIVE HOLDING,10
38594,2022091101,CAR,CLE,4,14,0,0,PUNT,0,0,NaN,NaN,0
38595,2022091101,CAR,CLE,1,10,0,0,RUSH,0,0,NaN,NaN,0
38596,2022090800,BUF,LA,2,10,0,0,RUSH,0,0,NaN,NaN,0
38597,2022090800,BUF,LA,1,10,0,0,PASS,0,0,NaN,NaN,0

In [62]:
#5 Replacing any remaining NaN that need to stay to 0
data2.replace(np.nan, 0)

,GameId,OffenseTeam,DefenseTeam,Down,ToGo,SeriesFirstDown,TeamWin,PlayType,IsTwoPointConversion,IsTwoPointConversionSuccessful,PenaltyTeam,PenaltyType,PenaltyYards
2,2022091102,SF,CHI,2,6,1,0,RUSH,0,0,0,0,0
4,2022091102,CHI,SF,1,10,0,0,RUSH,0,0,0,0,0
6,2022091102,CHI,SF,2,7,0,0,RUSH,0,0,0,0,0
10,2022091101,CAR,CLE,3,11,0,0,RUSH,0,0,0,0,0
12,2022091101,CAR,CLE,4,12,0,0,FIELD GOAL,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38593,2022091101,CLE,CAR,1,10,0,0,RUSH,0,0,CLE,OFFENSIVE HOLDING,10
38594,2022091101,CAR,CLE,4,14,0,0,PUNT,0,0,0,0,0
38595,2022091101,CAR,CLE,1,10,0,0,RUSH,0,0,0,0,0
38596,2022090800,BUF,LA,2,10,0,0,RUSH,0,0,0,0,0
38597,2022090800,BUF,LA,1,10,0,0,PASS,0,0,0,0,0